<style type="text/css">
.inline{
    display: inline-block;
}
.navigation{
    vertical-align: top;
    padding-top: 10px;
}
</style>

	<div class="row"> <!-- SETION: TEST DETAILS ROW -->
		<div class="col-xs-12 formatted-div">
            <div class="row">
                <form method='post' action='/admintests/new'>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <div class="col-xs-4">
                        <div>
                            <h3>Generate New Test:</h3>
                        </div>    
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="">Test Name:</label>
                           <input class="form-control" name="test_name"type="text">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for=""></label>
                            <input type='submit' value='Create New Test' class="btn btn-success wide100">
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div> <!-- END SETION: TEST DETAILS ROW -->
    
    <div class="row">
        <div class="col-xs-12 formatted-div">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td># of Questions</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <% @tests.each do |test| %>
                            <tr>
                                <td>
                                    <%= test.name %>
                                </td>
                                <td>
                                    <%= test.questions.count %>
                                </td>
                                <td>
                                    <a href="/admintests/edit/<%= test.id %>" class="btn btn-warning ">Edit</a>
                                    <a href="#/<%= test.id %>" class="btn btn-danger ">Destroy</a>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
