<script type="text/javascript">
    $(document).on('keyup', 'form', function(){
        $.post(
            $(this).attr('action'),
            $(this).serialize(),
            function(return_data){
                console.log(return_data);
                $('.results-table').html(return_data);
            },
            'html'
        );
    });
</script>
    <div class="row"> <!-- SECTION: SEARCH CRITERIA ROW -->
	    <div class="col-xs-12 formatted-div">
            <div class="row">
                <center><h3>Search by</h3></center>
                <div class="col-xs-6">
                    <form method='post' action='/search/name'>
                        <label for="">Name: 
                            <input name='name' type="text">
                        </label>
                    </form>
                </div>
                <div class="col-xs-6">
                    <form method='post' action='/search/email'>
                        <label for="">Email: 
                            <input name='email' type="text">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- END SECTION: SEARCH CRITERIA ROW -->

	<div class="row"> <!-- SECTION: QUESTION ANSWERS & OPTIONS ROW -->
	    <div class="col-xs-12 formatted-div">
            <div class="row padding15">
                <h2>Results: </h2>
                <div class='results-table'>
                 <table class="table table-results addRows">
                    <thead>
                        <tr>
                            <td>Test Name</td>
                            <td>Test ID:</td>
                            <td>Student Name:</td>
                            <td>Student Email:</td>
                            <td>Pass/Fail:</td>
                            <td>Score (%):</td>
                            <td>Date Taken:</td>
                            <td>Overtime:</td>
                        </tr>
                    </thead>
                    <% @results.each do |result| %>
                    <% if result.score.to_i > 70 %>
                    <tr class="success">
                    <% else %>
                    <tr class="danger">
                    <% end %>
                        <td><%= result.test_name %></td>
                        <td><%= result.test_id %></td>
                        <td><%= result.first_name %> <%= result.last_name %></td>
                        <td><%= result.email %></td>
                        <td>
                            <% if result.score.to_i > 70 %>
                            <%= "Pass" %>
                            <% else %>
                            <%= "Fail" %>
                            <% end %>
                        </td>
                        <td><%= result.score %></td>    
                        <td><%= result.created_at %></td>
                        <td><%= result.overtime %></td>
                    </tr>
                    <% end %>
                </table>
                </div>
            </div>
        </div>
    </div> <!-- END SECTION: QUESTION ANSWERS & OPTIONS ROW -->
